# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/


# Where and how to store data.
storage:
  dbPath: /var/lib/mongo
#  engine:
#  wiredTiger:

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  path: /var/log/mongodb/mongod.log


# network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1,{{ansible_default_ipv4.address}} 

# how the process runs
processManagement:
  timeZoneInfo: /usr/share/zoneinfo


#operationProfiling:
# security
#security:
#  keyFile: {{ mongodb_keyfile_directory }}keyfile
#  clusterAuthMode: keyFile
#  authorization: disable
  
# replication
replication:
  replSetName: "{{ replicaSet_name }}"

#sharding:

## Enterprise-Only Options

#auditLog: