# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

#security:
security:
  keyFile: '{{ mongodb_directory.keyfile }}/keyfile'
  clusterAuthMode: keyFile
  authorization: disabled

# Where and how to store data.
storage:
  dbPath: '{{ mongodb_directory.storage }}'

# where to write logging data.
systemLog:
  logRotate: reopen
  destination: file
  path: '{{ mongodb_directory.log }}/mongod.log'
  logAppend: true
  
# network interfaces
net:
  port: '{{mongodb_net.port}}'
  bindIp: '{{mongodb_net.bindIp}}'

# how the process runs
processManagement:
  fork: true
  timeZoneInfo: '{{mongodb_pm.timeZoneInfo}}'

# replications
replication:
  replSetName: '{{replicaSet_name}}'
  